{% extends 'base.html.twig' %}

{% block title %}{{ episode.title }} - {{ program.title }}{% endblock %}


{% block body %}
    <div class="container">
        <a href="{{ path('wild_show_season',
            { 'slug': program.slug | lower,
                'id': season.id,
                'season': season.slug }) }}" class="btn btn-sm btn-outline-light mb-5">
            {{ 'Back'|trans }}
        </a>
        <a href="{{ path('wild_show', { 'slug': program.slug | lower }) }}" class="btn btn-sm btn-outline-light mb-5">
            {{ 'TV Show'|trans }}
        </a>
        <h1 class="mb-5">{{ episode.title }}</h1>
        <div class="media">
            <div class="row actor-card">
                <div class="col col-12 col-md-5">
                    {% if episode.poster %}
                        <img class="align-self-start mr-3" src="{{ episode.poster }}" alt="{{ episode.title }}">
                    {% else %}
                        <img class="align-self-start mr-3 card-img-actor-default"
                             src="{{ asset('build/images/movie.408ea2dd.png') }}" alt="{{ episode.title }}">
                    {% endif %}
                </div>
                <div class="media-detail col col-12 col-md-7">
                    <div class="media-body">
                        <h3  class="text-center">{{ program.title }}</h3>
                        <table class="table">
                            <tbody>
                            <tr>
                                <td>{{ 'Season'|trans }} :</td>
                                <td>{{ season.number }}</td>
                            </tr>
                            <tr>
                                <td>Episode :</td>
                                <td>{{ episode.number }}</td>
                            </tr>
                            <tr>
                                <td>{{ 'Release'|trans }} :</td>
                                <td>{{ season.year }}</td>
                            </tr>
                            </tbody>
                        </table>
                        <p>{{ episode.synopsis }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-comment my-5">
            <h1 class="my-5 text-center">{{ 'Comments'|trans }}</h1>
            <div class="form-comment my-5">
                {% if app.user %}
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <div class="text-right">
                        <button class="btn btn-sm btn-outline-light">{{ 'Submit'|trans }}</button>
                    </div>
                    {{ form_end(form) }}
                {% else %}
                    <p>
                        {{ 'You must be logged in to post a comment'|trans }}
                        <a class="btn btn-sm btn-outline-light" href="{{ path('app_login') }}">{{ 'Login'|trans }}</a>
                    </p>
                {% endif %}
            </div>
            <div class="comments-wrapper my-5">
                {% for comment in comments %}
                    <div class="comment d-flex mb-5">
                        <div class="comment-image text-center">
                            <figure class="figure-container">
                                <img class="image-container" src="{{ comment.author.avatar }}"
                                     alt="{{ comment.author.username }}" title="{{ comment.author.username }}">
                                <figcaption class="mt-2">
                                    {{ comment.rate }}
                                    <i class="fas fa-star"></i>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="comment-content">
                            <div class="comment-body">
                                <div class="message">{{ comment.comment }}</div>
                                <div class="comment-footer">
                                    <small>
                                        {{ 'Posted on'|trans }} {{ comment.postedAt|date('d/m/Y à H:i') }}
                                        {{ 'by'|trans }} {{ comment.author.username|capitalize }}
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <p>{{ 'Be the first to post a comment'|trans }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('comment') }}
{% endblock %}
