<nav class="navbar navbar-expand-lg navbar-dark dark">
	<a href="/" class="logo"><img src="{{ asset('build/images/logo.png') }}" alt="Wild Series" title="Wild Series"></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
				<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
<img class="language" src="https://cdn-icons-png.flaticon.com/512/2105/2105124.png" alt="">
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
			<a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}"><img class="language__switch" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/Flag_of_the_United_Kingdom.svg/320px-Flag_of_the_United_Kingdom.svg.png" alt=""></a>
			<a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}"><img class="language__switch" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Flag_of_France.svg/320px-Flag_of_France.svg.png" alt=""></a>
	</div>	
				</li>

		<div class="navbar-nav mx-auto">
			<a class="nav-item nav-link" href="{{ path('app_index') }}">
				<i class="fas fa-home"></i>
				{{ 'Home'|trans }}</a>
			<a class="nav-item nav-link ml-md-3" href="{{ path('wild_index') }}">
				<i class="fas fa-tv"></i>
				{{ 'TV Shows'|trans }}</a>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<i class="fas fa-tags"></i>
					{{ 'Categories'|trans }}
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					{% for category in categories %}
						<a class="dropdown-item" href="{{ path('wild_category', {'categoryName': category.name}) }}">{{ category.name |trans }}</a>
					{% else %}
						<a class="dropdown-item" disabled href="">Aucune catégorie disponible</a>
					{% endfor %}
				</div>
			</li>
			<a class="nav-item nav-link" href="{{ path('wild_all_actors') }}">
				<i class="fas fa-users"></i>
				{{ 'Actors'|trans }}</a>
		</div>
		<div class="navbar-nav">

			{% if is_granted('IS_AUTHENTICATED_FULLY') %}
				{% if app.user is defined %}
					<a class="nav-item nav-link" href="{{ path('app_logout') }}">
						<i class="fas fa-sign-out-alt"></i>
						{{ 'Logout'|trans }}</a>
					{% if app.user.roles[0] == 'ROLE_USER' or app.user.roles[0] == 'ROLE_SUBSCRIBER' or app.user.roles[0] == 'ROLE_ADMIN' %}
						<a class="nav-item nav-link" href="{{ path('profile', {'username': app.user.username}) }}">
							<i class="fas fa-user-cog mr-1"></i>
							{{ 'My Profile'|trans }}</a>
					{% endif %}
					{% if app.user.roles[0] == 'ROLE_ADMIN' %}
						<a class="nav-item nav-link" href="{{ path('admin') }}">
							<i class="fas fa-tools mr-1"></i>
							{{ 'Admin'|trans }}</a>
					{% endif %}

				{% endif %}
			{% else %}
				<a class="nav-item nav-link" href="{{ path('app_login') }}">
					<i class="fas fa-sign-in-alt"></i>
					{{ 'Login'|trans }}</a>
				<a class="nav-item nav-link" href="{{ path('new_user') }}">
					<i class="fas fa-user-plus"></i>
					{{ 'Register'|trans }}</a>
			{% endif %}
		</div>
	</div>

</nav>
