{% extends 'base.html.twig' %}

{% block title %}Modification utilisateur{% endblock %}

{% block body %}
    <h1 class="my-5 text-center">{{ 'My Profile'|trans }}</h1>

    {{ include('/user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('user_index') }}">{{ 'Back'|trans }}</a>

    {{ include('/user/_delete_form.html.twig') }}
{% endblock %}
