{% extends 'base.html.twig' %}

{% block title %}{{ 'All TV Shows'|trans }}
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="my-5 text-center">{{ 'All TV Shows'|trans }}</h1>

		{{ form_start(form) }}
		<div class="row d-flex justify-content-center">
			<div class="col-md-4">
				{{ form_row(form.searchField) }}
			</div>
			<div class="btn-group d-inline-block" role="group">
				<button class="btn btn-sm btn-outline-light" type="submit" name="btnSearch">{{ 'Search'|trans }}</button>
				{% if search == true %}
					<a href="{{ path('wild_index') }}" class="btn btn-sm btn-outline-light">{{ 'Show all'|trans }}</a>
				{% endif %}
			</div>
		</div>
		{{ form_end(form) }}
		<div class="row my-2">
			{% for program in programs %}
				<div class="col-6 col-md-4 col-lg-3 mb-5">
					<a href="{{ path('wild_show', { 'slug': program.slug | lower }) }}">
						<div class="card card-poster h-100">
							<div class="image">
								<img src="{{ program.poster }}" class="card-img-top" alt="{{ program.title }}" title="{{ program.title }}">
							</div>
						</div>
									{% if is_granted('IS_AUTHENTICATED_FULLY') %}
				{% if app.user is defined %}
                    	<a id="watchlist" href="{{path('program_watchlist', {'id': program.id})}}"  data-href="" class="watchlist {{ app.user.isInWatchlist(program) ? 'bi-heart-fill' : 'bi-heart' }}"></a>
					{% endif %}
					{% endif %}
				</div>
			{% else %}
				Aucune série trouvée.
			{% endfor %}

		</div>
	</div>
	<div class="navigation">
		{{ knp_pagination_render(programs) }}
	</div>
</div>{% endblock %}{% block stylesheets %}
{{ parent() }}
{{ encore_entry_link_tags('comment') }}{% endblock %}
