{% extends 'base.html.twig' %}
{% block title %}{{ 'All actors'|trans }}
{% endblock %}
{% block body %}
	<div class="container">
		<h1 class="my-5 text-center">{{ 'All actors'|trans }}</h1>
		{{ form_start(formA) }}
		<div class="row d-flex justify-content-center">
			<div class="col-md-3">
				{{ form_row(formA.searchField) }}
			</div>
			<div class="btn-group d-inline-block" role="group">
				<button class="btn btn-sm btn-outline-light mb-4" type="submit" name="btnSearch">{{ 'Search'|trans }}</button>
				{% if search == true %}
					<a href="{{ path('wild_all_actors') }}" class="btn btn-sm btn-outline-light mb-4">{{ 'Show all'|trans }}</a>
				{% endif %}
			</div>
		</div>
		{{ form_end(formA) }}
		{{ form_start(formP) }}
		<div class="row d-flex justify-content-center">
			<div class="col-md-3">
				{{ form_row(formP.searchPField) }}
			</div>
			<div class="btn-group d-inline-block" role="group">
				<button class="btn btn-sm btn-outline-light mb-4" type="submit" name="btnSearch">{{ 'Search'|trans }}</button>
				{% if searchP == true %}
					<a href="{{ path('wild_all_actors') }}" class="btn btn-sm btn-outline-light mb-4">{{ 'Show all'|trans }}</a>
				{% endif %}
			</div>
		</div>

		{{ form_end(formP) }}

		<div class="row my-5">
			{% for actor in actors %}
				<div class="col-6 col-md-2 col-lg-2 mb-4 actor-card">
					<a href="{{ path('wild_actor', {'slug': actor.slug | lower, }) }}">
						<div class="card card-actor w-100 h-100">
							<img src="{{ actor.image ?? asset('build/images/actor.6ddea756.png') }}" class="actor.img {{ actor.image ? " " : " card-img-actor-default" }} h-80" alt="{{ actor.name }}">
							<div class="card-body">
								<p class="card-text text-center">
									<small class="text">{{ actor.name }}</small>
								</p>
							</div>
						</div>
					</a>
				</div>
			{% else %}
				{{ 'No actors found'|trans }}
			{% endfor %}
		</div>
		<div class="navigation">
			{{ knp_pagination_render(actors) }}
		</div>
	</div>
{% endblock %}
