{% extends 'base.html.twig' %}

{% block title %}Acteur | Admin{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-5 text-center">{{ actor.name }}</h1>
        <a class="btn btn-sm btn-outline-light my-4" href="{{ path('actor_index') }}">{{ 'Back'|trans }}</a>
        <div class="row">
            <div class="col-md-4 image-container mb-3 actor-card">
                <img src="{{ actor.image ?? asset('build/images/actor.6ddea756.png') }}"
                     alt="{{ actor.name }}" class="image-shadowA {{ actor.image is not defined ? "" : "card-img-actor-default" }}">
            </div>
            <div class="col-md-8">
                <table class="table table-dark">
                    <tbody class="table-actor">
                    <tr>
                        <th>Nom</th>
                        <td>{{ actor.name }}</td>
                    </tr>
                        <th>Slug</th>
                        <td>{{ actor.slug }}</td>
                    </tr>
                    <tr>
                        <td>Programme</td>
                        <td>
                            {% for program in actor.programs %}
                                <a class="btn btn-custom-actor"
                                   href="{{ path('wild_show', { 'slug': program.slug }) | lower }}">
                                    {{ program.title }}
                                </a>
                            {% else %}
                                <p>Aucun programme trouvé</p>
                            {% endfor %}
                        </td>
                    </tr>
                    </tbody>
                </table>

        <a class="btn btn-sm btn-outline-light my-3s" href="{{ path('actor_edit', {'id': actor.id}) }}">Editer</a>

        {{ include('admin/actor/_delete_form.html.twig') }}
            </div>

        </div>
    </div>
{% endblock %}

