{% extends 'base.html.twig' %}

{% block title %}Editer une saison |{{ 'Admin'|trans }}{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-5 text-center">Editer une saison</h1>
        <a class="btn btn-sm btn-outline-light my-4" href="{{ path('season_index') }}">{{ 'Back'|trans }}</a>
        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.number) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.year) }}
            </div>
            <div class="col-12">
                {{ form_row(form.program) }}
            </div>
            <div class="col-12">
                {{ form_row(form.description) }}
            </div>
        </div>
        {{ form_rest(form) }}
        {{ include('admin/season/_form.html.twig', {'button_label': 'Update'}) }}

        {{ include('admin/season/_delete_form.html.twig') }}
        {{ form_end(form) }}
    </div>
{% endblock %}
